.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.design {
    background: rgb(173, 191, 192); 
    padding: 10px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    text-align: center;
}

.display {
    display: none;
    padding: 20px;
}

.active {
    background: cadetblue;
    display: flex; 
}
